body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url(https://wallpapercave.com/wp/wp4381531.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#messageDisplay {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-height: 100px;
    text-align: left;
    width: 75%;
    font-weight: bold;
    font-size: 16px;
}
@media screen and (max-width: 420px) {
    html {
        background-image: url('https://wallpapercave.com/wp/wp4381531.jpg');
        background-size: contain; /* Ensure the image fits within the container */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-position: center 400px;
        background-color: #007bff;
    }
}
@media screen and (max-width: 420px) {
    #messageDisplay {
        font-size: 12px; /* Set the font size to 12 pixels */
        font-weight: normal; /* Set the font weight to normal */
    }
}



